
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    width: 1440px;
    height: 2360px;
    background-color: #FAF9F5;
}


/*HEADER*/

.header {
    position: fixed;
    overflow: hidden;
    display: flex;
    width: 1540px;
    height: 107px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
    z-index: 5;
}

.logo-img {
    position: absolute;
    width: 120px;
    height: 59px;
    top: 24px;
    left: 108px;
    gap: 0px;
    opacity: 0px;
    z-index: 1;
}

#circle-shadow {
    position: absolute;
    width: 114px;
    height: 114px;
    top: 19px;
    left: 78px;
    gap: 0px;
    background-color: #A10550; 
    border-radius: 100%;
    backdrop-filter: blur(250px);
    box-shadow: 0 0 114px 114px #A10550; 
    opacity: 0.2;
    z-index: 0;
}

.navbar {
    position: absolute;
    width: 673px;
    height: 22px;
    top: 61px;
    left: 383.5px;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar a:hover {
    color: #b4004e;
}

.actions {
    position: absolute;
    width: 144px;
    height: 48px;
    top: 44px;
    left: 1188px;
    gap: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    gap: 4px;
}


.search-img{
    width: 24px;
    height: 24px;
    gap: 0px;
}

#line1{
    width: 24px;
    height: 0px;
    gap: 0px;
    transform: rotate(90deg);
    opacity: 0px;
    border: 1px solid #868686
}

.globe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 48px;
    gap: 4px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    transition: font-weight 0.3s;
}

.globe img {
    width: 24px;
    height: 24px;
    gap: 0px;
}

.globe-text{
    display: flex;
    text-align: start;
    width: 52px;
    height: 29px;
    gap: 0px;
    opacity: 0px;    
}

.nation{
    width: 52px;
    height: 29px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: #0C0C0C
}

.language{
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.globe:hover .nation {
    font-weight: 300; 
}

.globe:hover .language {
    font-weight: 300; 
    color: #404040; 
}


.language-options {
    display: none; 
    border: 1px solid #ccc; 
    top: 100px; 
    right: 0;
    z-index: 1000;
    padding: 10px; 
}

.language-option {
    display: block;
    padding: 5px;
    cursor: pointer; 
    background-color: #461313;
}

.language-option:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}

.search-input {
    display: none;
    top: 100px;
    left: 0; /* Căn trái */
    z-index: 1000; /* Đảm bảo nó nổi bật trên các phần tử khác */
    background-color: #e34848;
}

.search-input input {
    width: 200px; /* Đặt chiều rộng cho thanh tìm kiếm */
    padding: 5px; /* Khoảng cách bên trong thanh tìm kiếm */
}

/*HEADER*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: Arial, sans-serif;
    width: 1440px;
    height: 1833px;
    background-color: #FAF9F5;
    text-decoration: none;
}

a{
    text-decoration: none;
}


/*FOOTER*/

.footer{
    position: absolute;
    width: 1518px;
    height: 644px;
    top: 1700px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #3D021E;
    text-transform: capitalize;
    text-decoration: none;
    overflow: hidden;
}


#value-proposition{
    position: absolute;
    display: flex;       
    justify-content: space-between;        
    align-items: center; 
    width: 1540px;
    height: 104px;
    padding: 24px 108px 24px 108px;
    gap: 0px;
    opacity: 0px;
    background: #FBEFF2;
    color: #79043C;
    text-align: center;  
}

#VP1{
    display: flex;
    justify-content: center;
    width: 211px;
    height: 40px;
    gap: 16px;
    opacity: 0px;    
}

#VP2{
    display: flex;
    justify-content: center;
    width: 291px;
    height: 40px;
    gap: 16px;
    opacity: 0px;    
}

#VP3{
    display: flex;
    justify-content: space-between;
    width: 296px;
    height: 40px;
    gap: 16px;
    opacity: 0px;    
}


#VP4{
    display: flex;
    justify-content: space-between;
    width: 218px;
    height: 45px;
    gap: 16px;
    opacity: 0px;    
}

#VP4 img {
    width: 45px;
    height: 45px;
    gap: 0px;
    opacity: 0px; 
}

.VP img{
    width: 40px;
    height: 40px;
    gap: 0px;
}

#animals{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 155px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

#leaf2{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 235px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

#leaf{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 248px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

#bulb {
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 157px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}


#left_section{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 222px;
    height: 227px;
    top: 184px;
    left: 108px;
    gap: 16px;
    opacity: 0px;
}

#title_left_section{
    width: 222px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    color:#FFFFFF;
}

#left_frame{
    display: flex;
    flex-direction: column;
    color:#FFFFFF;
    width: 222px;
    height: 177px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
}

#left_frame #middle_frame, a{
    color:#ffffff;
}

#left_frame #middle_frame, a:hover{
    color: #b4004e;
}

#middle_section{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 129px;
    height: 153px;
    top: 184px;
    left: 468px;
    gap: 16px;
    opacity: 0px;
}

#title_middle_section{
    width: 107px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    color: #FFFFFF;
}

#middle_frame{
    display: flex;
    flex-direction: column;
    width: 129px;
    height: 103px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #FFFFFF;
}


#right_section{
    position: absolute;
    width: 600px;
    height: 271px;
    top: 184px;
    left: 732px;
    gap: 0px;
    opacity: 0px;
    z-index: 2;
}

#title_right_section{
    width: 337px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    color: #FFFFFF;
}

#text_right_section{
    position: absolute;
    width: 600px;
    height: 58px;
    top: 50px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #FFFFFF;
}


#email_input{
    position: absolute;
    width: 480px;
    height: 56px;
    top: 124px;
    padding: 0px 16px 0px 16px;
    gap: 8px;
    border-top: 1px solid #3D021E;
    border-left: 1px solid #3D021E;
    border-right: 1px solid #3D021E;
    border-bottom: 1px solid #CBCBCB;
    opacity: 0px;
    background-color: #3D021E;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #CBCBCB;
}


#email_submit{
    position: absolute;
    width: 104px;
    height: 48px;
    top: 132px;
    left: 496px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #3D021E;
    opacity: 40%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
}

#email_submit:hover{
    background-color: #c9c9c9; 
    border: 2px solid #FFFFFF;
}

#terms-conditions{
    position: absolute;
    width: 600px;
    height: 75px;
    top: 188px;
    gap: 0px;
    opacity: 0px;    
}

#checkbox{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;
}


#terms-text{
    position: absolute;
    top: 0px;
    width: 574px;
    height: 75px;
    left: 26px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: #FFFFFF;
}

#social_media{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1540px;
    height: 69px;
    top: 519px;
    gap: 0px;
    background: #280114;
    z-index: 2;
}

#address{
    position: absolute;
    display: flex;
    width: 238px;
    height: 45px;
    top: 12px;
    left: 108px;
    padding: 8px 16px 8px 0px;
    gap: 8px;
}

#address_icon{
    width: 24px;
    height: 24px;
    padding: 2px 5px 2px 5px;
    gap: 0px;
}


#location_icon{
    width: 14px;
    height: 20px;
    top: 2px;
    left: 5px;
    gap: 0px;
    opacity: 0px;    
}

#line2{
    position: absolute;
    width: 24px;
    height: 0px;
    /* top: 47px; */
    left: 335px;
    gap: 0px;
    border: 1px solid #FA58A6;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
}

#address_text{
    width: 190px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
    text-align: center;  
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400%;
    line-height: 28.8px;
    text-align: left;
}

#phone{
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 181px;
    height: 45px;
    top: 12px;
    left: 346px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    opacity: 0px;
}

#phone_icon{
    width: 24px;
    height: 24px;
    padding: 3px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;    
}

#phone_img{
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
    gap: 0px;
    opacity: 0px;
}

#phone_number{
    width: 117px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 400%;
    line-height: 28.8px;
    text-align: left;
    color: #FFFFFF;
}

#social_icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 40px;
    top: 15px;
    left: 1052px;
    gap: 8px;
    opacity: 0px;
}

.icon_button{
    width: 40px;
    height: 40px;
    padding: 8px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social_icon_img{
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    transition: all 0.3s ease;
}

.icon_button:hover .social_icon_img {
    filter: brightness(2.45); 
    opacity: 1; 
}


#copyright-privacy{
    position: absolute;
    width: 1540px;
    height: 56px;
    top: 588px;
    padding: 16px 108px 16px 108px;
    gap: 0px;
    opacity: 0px;
    background: #14010A;
    z-index: 2;
}

#copyright{
    position: absolute;
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 257px;
    height: 24px;
    top: 16px;
    left: 108px;
    gap: 8px;
    opacity: 0px;
}


#term-and-privacy{
    position: absolute;
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 211px;
    height: 22px;
    top: 17px;
    left: 1121.5px;
    gap: 24px;
    font-weight: 400%;
    color: #CBCBCB;
}


#copyright-logo{
    width: 24px;
    height: 24px;
    padding: 2px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;    
}

#copyright-img{
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    gap: 0px;
    opacity: 0px;
}

#copyright-text{
    width: 225px;
    height: 16px;
    gap: 0px;
    font-size: 12px;
    font-weight: 600%;
    line-height: 16.34px;
    letter-spacing: 0.800000011920929px;
    text-align: left;
    color: #CBCBCB;
    white-space: nowrap; 
    text-overflow: ellipsis;
}


#term-conditions{
    width: 111px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}

#privacy-policy{
    width: 76px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}


#BG-img{
    position: absolute; 
    width: 428px;
    height: 546.08px;
    top: 120px;
    left: 1050px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    /* transform: rotate(180deg); */
    z-index: 0;
}

/*FOOTER*/

.breadcrumb {
    position: absolute;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 45px;
    top: 139px;
    left: 108px;
    gap: 5px;
    z-index: 1;
}

.breadcrumb a {
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #606060; 
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #b4004e; 
}

.breadcrumb p {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    margin: 0;
}

.arrow {
    width: auto;
    height: auto;
    font-size: 20px;
    margin: 0 0px; 
    color: #868686;
    opacity: 1;
}

.frame{
    position: absolute;
    color: #0C0C0C;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    bottom: 1300px;
    width: 1176px;
    height: 137px;
    top: 277px;
    left: 108px;
    gap: 5px;
    z-index: 1;
}

#t{
    display: flex;
    font-family: sans-serif;    
    justify-content: flex-start;
    align-items: center;
    width: 1176px;
    height: 32px;
    bottom: 2050px;
    left: 5px;
    z-index: 1;  
}

#t1{
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1176px;
    height: 137px;
    top: 277px;
    left: 110px;
    gap: 8px;
    bottom: 1480px;
    opacity: 0px;
    z-index: 1;
}

#t2{
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #606060;
    font-size: 14px;
    width: 1176px;
    height: 25px;
    bottom: 1950px;
    left: 108px;
    gap: 5px;
    z-index: 1;
}

.contact-us{
    position: absolute;
    color: #0C0C0C;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 174px;
    height: 45px;
    top: 208px;
    left: 108px;
    z-index: 1;
}

.write-us{
    color: #A10550;
    position: absolute;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    bottom: 1300px;
    width: 332px;
    height: 67px;
    top: 24px;
    left: 104px;
    gap: 8px;
    z-index: 1;
}

.write-us text1{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 34px;
    top: 208px;
    left: 150px;
    gap: 8px;
    z-index: 1;
}

.write-us email{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 132px;
    height: 34px;
    top: 254px;
    left: 150px;
    gap: 8px;
    z-index: 1;
}

.form{
    position: absolute;
    background: #ffffff;
    width: 1224px;
    height: 928px;
    top: 462px;
    left: 108px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;    
}

.form-in1{
    position: absolute;
    width: 1016px;
    height: 248px;
    top: 535px;
    left: 104px;
    gap: 16px;
    z-index: 1;
}

.request{
    width: 134px;
    height: 28px;
    color: #0C0C0C;
    font-family: sans-serif;
    font-weight: 700;
    size: 20px;
    line-height: 28px;

}

.form-in2{
    position: absolute;
    width: 1016px;
    height: 204px;
    gap: 8px;
    opacity: 0px;
}

.subject{
    color: #606060;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.form-in3{
    width: 761px;
    height: 76px;
    gap: 8px;
}

.form-in4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 716px;
    height: 32px;
    gap: 8px;
}

.brunches{
    width: 94px;
    height: 32px;
    border: 1px solid #DFDFDF;
    top: 4px;
    padding: 4px 16px 4px 16px;
    right: 16px;
    bottom: 4px;
    left: 16px;
    gap: 8px;
    z-index: 1;
}

.brunches a{
    position: absolute;
    width: 62px;
    height: 25px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    text-decoration: none;
    color: #0C0C0C;
}

.brunches a:hover{
    color: #DFDFDF;
}

.skin-type{
    width: 94px;
    height: 32px;
    padding: 4px 16px 4px 16px;
    gap: 8px;
    border: 1px solid #DFDFDF;
    opacity: 0px;
    z-index: 1;
}

.skin-type a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 25px;
    font-size: 400;
    font-family: sans-serif;
    size: 14px;
    line-height: 25.2px;
    color: #0C0C0C;
    white-space: nowrap; 
    text-overflow: ellipsis;
    text-decoration: none;
}

.skin-type a:hover{
    color: #DFDFDF;
}

.SOAP{
    width: 219px;
    height: 32px;
    border: 1px solid #DFDFDF;
    padding: 4px 16px 4px 16px;
    top: 4px;
    right: 16px;
    left: 16px;
    gap: 8px;
}

.SOAP a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 187px;
    height: 25px;
    font-family: sans-serif;
    font-weight: 400;
    size: 14px;
    line-height: 25.2px;
    z-index: 1;
    white-space: nowrap; 
    text-overflow: ellipsis;
    text-decoration: none;
    color: #0C0C0C;
}

.SOAP a:hover{
    color: #DFDFDF;
}

.PAS{
    width: 152px;
    height: 32px;
    padding: 4px 16px 4px 16px;
    gap: 8px;
    opacity: 0px;
    background: #FBEFF2;
    border: 1px solid #A10550
}

.PAS a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 25px;
    font-family: sans-serif;
    font-weight: 400;
    size: 14px;
    line-height: 25.2px;
    z-index: 1;
    white-space: nowrap; 
    text-overflow: ellipsis;
    text-decoration: none;
    color: #A10550;
}
.PAS a:hover{
    color: #DFDFDF;
}

.form-text{
    width: 1016px;
    height: 120px;
    gap: 24px;
}

.input-field{
    color: #606060;
    width: 1016px;
    height: 120px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
}
 
.input-field{
    position: absolute;
    width: 100%; /* Độ rộng đầy đủ */
        height: 100px; /* Chiều cao tuỳ chỉnh */
        border: none; /* Xoá đường viền mặc định */
        border-bottom: 2px solid #ccc; /* Đường viền dưới */
        resize: none; /* Vô hiệu hoá thay đổi kích thước */
        outline: none; /* Xoá đường viền khi nhấn vào */
        font-size: 16px;
        padding: 8px;
        color: #555;
}

.text-field{   
    width: 1016px;
    height: 56px;
    border: 0 16px 0 16px;
    bottom: 1px;
    padding: 0 0 1px 0;
    right: 16px;
    left: 16px;
    gap: 8px;
}

.icon-label{
    width: 984px;
    height: 56px;
    gap: 8px;
}

.required{
    width: 984px;
    height: 36px;
}

.optional{
    width: 984px;
    height: 36px;
}

.optional p{
    position: absolute;
    width: 89px;
    height: 36px;
    font-family: sans-serif;
    font-weight: 400;
    size: 20px;
    line-height: 36px;
    color: #606060;
}

.search{
    display: flex;
    justify-content: flex-end;
    align-items: right;
    width: 24px;
    height: 24px;
}

.icon-label p1{
    position: absolute;
    align-items: right;
    color: #606060;
    right: 110px;
    bottom: -50px;
    width: 32px;
    height: 22px;
    font-weight: 400;
    font-family: sans-serif;
    size: 12px;
    line-height: 21.6px;
}

.checkbox{
    position: absolute;
    width: 442px;
    height: 25px;
    top: 799px;
    left: 104px;
    gap: 8px;
    opacity: 0px;

}

.tick{
    width: 442px;
    height: 25px;
    top: 799px;
    left: 104px;
    gap: 8px;
}

.checkbox1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;    
}

.checkbox1 rectangle{
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 2px solid #0C0C0C;
} 

.text-tick{
    position: absolute;
    width: 450px;
    height: 25px;
    margin-left: 20px;
    color: #0C0C0C;
    font-family: sans-serif;
    font-weight: 400;
    size: 14px;
    line-height: 25.2px;
}

.send-btn {
    position: absolute;
    width: 128px;
    height: 48px;
    top: 856px;
    left: 992px;
    padding: 8px 16px;
    gap: 8px;
    border: 2px solid #A10550;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    color: #A10550;
    text-decoration: none;
}

.send-btn a:hover{
    color: #DFDFDF;
}

.information{
    position: absolute;
    width: 1016px;
    height: 380px;
    top: 115px;
    left: 104px;
    gap: 16px;
}

.title{
    width: 173px;
    height: 28px;
}

.title p{
    width: 173px;
    height: 28px;
    font-family: sans-serif;
    font-weight: 700;
    size: 20px;
    line-height: 28px;
    color: #0C0C0C;
}

.form-information{
    width: 1016px;
    height: 336px;
    border: 0 0 1px 0;
    border-bottom: 1px solid #DFDFDF;   
    padding: 0px 0px 40px 0px;
    gap: 24px;
    border: 0px 0px 1px 0px;
    display: flex;
    /* justify-content: space-between; */

}

.title_info1 {
    width: 496px;
    height: 56px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-bottom: 1px solid #606060;    
}

.form1{
    width: 496px;
    height: 296px;
    gap: 24px;
    opacity: 0px;

}

.inf_title {
    width: 496px;
    height: 56px;
    padding: 0px 32px 0px 16px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.first-name{
    width: 496px;
    height: 56px;
    padding: 0px 16px 0px 0px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.first-name1{
    position: absolute;
    width: 496px;
    height: 56px;
    padding: 0px 16px 0px 16px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.region{
    width: 496px;
    height: 56px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-bottom: 1px solid #606060;   
}

.region1{
    width: 496px;
    height: 56px;
    padding: 0px 32px 0px 16px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.mail{
    width: 496px;
    height: 56px;
    padding: 0px 16px 0px 0px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.mail1{
    position: absolute;
    width: 496px;
    height: 56px;
    padding: 0px 16px 0px 16px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.form-information1{
    
    width: 496px;
    height: 216px;
    gap: 24px;
    opacity: 0px;
    margin-top: 56px;
}

.last-name{
    width: 496px;
    height: 56px;
    padding: 0px 16px 0px 0px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.last-name1{
    position: absolute;
    width: 496px;
    height: 56px;
    padding: 0px 16px 0px 16px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.language{
    width: 496px;
    height: 56px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-bottom: 1px solid #606060;  
}

.language1{
    position: absolute;
    width: 496px;
    height: 56px;
    padding: 0px 16px 0px 16px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.phone-number{
    width: 496px;
    height: 56px;
    padding: 0px 16px 0px 0px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none; 
}

.phone-number1{
    position: absolute;
    width: 496px;
    height: 56px;
    padding: 0px 16px 0px 16px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-left: none;
    border-right: none;
    border-top: none; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    width: 1440px;
    height: 2360px;
    background-color: #FAF9F5;
    text-decoration: none;
}


#contact_ui{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1224px;
    height: 230px;
    top: 1430px;
    left: 108px;
    gap: 16px;
}

.contact_frame{
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 16px;
    width: 392px;
    height: 230px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
}

.frame_child{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    width: 360px;
    height: 198px;
    gap: 12px;
    opacity: 0px;
}

#frame_chat_title{
    width: 344px;
    height: 84px;
    gap: 12px;
    opacity: 0px;
}

#frame_chat_text, #frame_call_text, #frame_message_text{
    width: 336px;
    height: 44px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #606060;
}

#frame_call_text{
    padding: 20px 0px 8px 0px;
}

.contact_button{
    width: 360px;
    height: 46px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    opacity: 0px;
    border: 2px solid #A10550;
    color: #A10550;
    background-color: transparent;
}

.contact_button:hover{
    background-color: #c42a5b;

}

#contact_us, #call_us, #message{
    display: flex;
    align-items: center;
}

#contact_us{
    width: 212px;
    height: 50px;
    padding: 0px 0px 0px 8px;
    gap: 8px;
    opacity: 0px;
}

#call_us{
    width: 145px;
    height: 50px;
    padding: 0px 0px 0px 8px;
    gap: 8px;
    opacity: 0px;
}

#message{
    width: 269px;
    height: 50px;
    padding: 0px 0px 0px 8px;
    gap: 8px;
    opacity: 0px;
}

#contact_us p, #call_us p, #message p {
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    color: #A10550;
}

#contact_us img, #call_us img, #message img{
    width: 24px;
    height: 24px;
    padding: 2px 0px 0px 0px;
    gap: 0px;
}

#frame_chat_title_text{
    gap: 8px;
    padding: 8px 0px 8px 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0C0C0C;
}

#frame_call_title_text{
    gap: 8px;
    width: 328px;
    height: 66px;
    padding: 8px 0px 8px 0px;
    gap: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#frame_call_title_text #phone_number{
    color: #A10550;
}


#frame_message_title_text{
    gap: 8px;
    width: 328px;
    height: 44px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    opacity: 0px;    
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0C0C0C;
}

#contact_ui{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1224px;
    height: 230px;
    top: 1430px;
    left: 108px;
    gap: 16px;
}

.contact_frame{
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 16px;
    width: 392px;
    height: 230px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
}

.frame_child{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    width: 360px;
    height: 198px;
    gap: 12px;
    opacity: 0px;
}

#frame_chat_title{
    width: 344px;
    height: 84px;
    gap: 12px;
    opacity: 0px;
}

#frame_chat_text, #frame_call_text, #frame_message_text{
    width: 336px;
    height: 44px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #606060;
}

#frame_call_text{
    padding: 20px 0px 8px 0px;
}

.contact_button{
    width: 360px;
    height: 46px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    opacity: 0px;
    border: 2px solid #A10550;
    color: #A10550;
    background-color: transparent;
}

.contact_button:hover{
    background-color: #c42a5b;

}

#contact_us, #call_us, #message{
    display: flex;
    align-items: center;
}

#contact_us{
    width: 212px;
    height: 50px;
    padding: 0px 0px 0px 8px;
    gap: 8px;
    opacity: 0px;
}

#call_us{
    width: 145px;
    height: 50px;
    padding: 0px 0px 0px 8px;
    gap: 8px;
    opacity: 0px;
}

#message{
    width: 269px;
    height: 50px;
    padding: 0px 0px 0px 8px;
    gap: 8px;
    opacity: 0px;
}

#contact_us p, #call_us p, #message p {
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    color: #A10550;
}

#contact_us img, #call_us img, #message img{
    width: 24px;
    height: 24px;
    padding: 2px 0px 0px 0px;
    gap: 0px;
}

#frame_chat_title_text{
    gap: 8px;
    padding: 8px 0px 8px 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0C0C0C;
}

#frame_call_title_text{
    gap: 8px;
    width: 328px;
    height: 66px;
    padding: 8px 0px 8px 0px;
    gap: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#frame_call_title_text #phone_number{
    color: #A10550;
}


#frame_message_title_text{
    gap: 8px;
    width: 328px;
    height: 44px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    opacity: 0px;    
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0C0C0C;
}





