* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    width: 1440px;
    height: 2360px;
    background-color: #FAF9F5;
}

.header {
    position: fixed;
    overflow: hidden;
    display: flex;
    width: 1540px;
    height: 107px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
    z-index: 5;
}

.logo-img {
    position: absolute;
    width: 120px;
    height: 59px;
    top: 24px;
    left: 108px;
    gap: 0px;
    opacity: 0px;
    z-index: 1;
}

#circle-shadow {
    position: absolute;
    width: 114px;
    height: 114px;
    top: 19px;
    left: 78px;
    gap: 0px;
    background-color: #A10550; 
    border-radius: 100%;
    backdrop-filter: blur(250px);
    box-shadow: 0 0 114px 114px #A10550; 
    opacity: 0.2;
    z-index: 0;
}

.navbar {
    position: absolute;
    width: 673px;
    height: 22px;
    top: 61px;
    left: 383.5px;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar a:hover {
    color: #b4004e;
}

.actions {
    position: absolute;
    width: 144px;
    height: 48px;
    top: 44px;
    left: 1188px;
    gap: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    gap: 4px;
}


.search-img{
    width: 24px;
    height: 24px;
    gap: 0px;
}

#line1{
    width: 24px;
    height: 0px;
    gap: 0px;
    transform: rotate(90deg);
    opacity: 0px;
    border: 1px solid #868686
}

.globe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 48px;
    gap: 4px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    transition: font-weight 0.3s;
}

.globe img {
    width: 24px;
    height: 24px;
    gap: 0px;
}

.globe-text{
    display: flex;
    text-align: start;
    width: 52px;
    height: 29px;
    gap: 0px;
    opacity: 0px;    
}

.nation{
    width: 52px;
    height: 29px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: #0C0C0C
}

.language{
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.globe:hover .nation {
    font-weight: 300; 
}

.globe:hover .language {
    font-weight: 300; 
    color: #404040; 
}


.language-options {
    display: none; 
    border: 1px solid #ccc; 
    top: 100px; 
    right: 0;
    z-index: 1000;
    padding: 10px; 
}

.language-option {
    display: block;
    padding: 5px;
    cursor: pointer; 
    background-color: #461313;
}

.language-option:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}

.search-input {
    display: none;
    top: 100px;
    left: 0; /* Căn trái */
    z-index: 1000; /* Đảm bảo nó nổi bật trên các phần tử khác */
    background-color: #e34848;
}

.search-input input {
    width: 200px; /* Đặt chiều rộng cho thanh tìm kiếm */
    padding: 5px; /* Khoảng cách bên trong thanh tìm kiếm */
}

.footer{
    position: absolute;
    width: 1518px;
    height: 644px;
    top: 1822px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #3D021E;
    text-transform: capitalize;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#value-proposition{
    position: absolute;
    display: flex;       
    justify-content: space-between;        
    align-items: center; 
    width: 1540px;
    height: 104px;
    padding: 24px 108px 24px 108px;
    gap: 0px;
    opacity: 0px;
    background: #FBEFF2;
    color: #79043C;
    text-align: center;  
}

#VP1{
    display: flex;
    justify-content: center;
    width: 211px;
    height: 40px;
    gap: 16px;
    opacity: 0px;    
}

#VP2{
    display: flex;
    justify-content: center;
    width: 291px;
    height: 40px;
    gap: 16px;
    opacity: 0px;    
}

#VP3{
    display: flex;
    justify-content: space-between;
    width: 296px;
    height: 40px;
    gap: 16px;
    opacity: 0px;    
}


#VP4{
    display: flex;
    justify-content: space-between;
    width: 218px;
    height: 45px;
    gap: 16px;
    opacity: 0px;    
}

#VP4 img {
    width: 45px;
    height: 45px;
    gap: 0px;
    opacity: 0px; 
}

.VP img{
    width: 40px;
    height: 40px;
    gap: 0px;
}

#animals{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 155px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

#leaf2{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 235px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

#leaf{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 248px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

#bulb {
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 157px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}


#left_section{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 222px;
    height: 227px;
    top: 184px;
    left: 108px;
    gap: 16px;
    opacity: 0px;
}

#title_left_section{
    width: 222px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    color:#FFFFFF;
}

#left_frame{
    display: flex;
    flex-direction: column;
    color:#FFFFFF;
    width: 222px;
    height: 177px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
}

#middle_section{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 129px;
    height: 153px;
    top: 184px;
    left: 468px;
    gap: 16px;
    opacity: 0px;
}

#title_middle_section{
    width: 107px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    color: #FFFFFF;
}

#middle_frame{
    display: flex;
    flex-direction: column;
    width: 129px;
    height: 103px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #FFFFFF;
}


#right_section{
    position: absolute;
    width: 600px;
    height: 271px;
    top: 184px;
    left: 732px;
    gap: 0px;
    opacity: 0px;
    z-index: 2;
}

#title_right_section{
    width: 337px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    color: #FFFFFF;
}

#text_right_section{
    position: absolute;
    width: 600px;
    height: 58px;
    top: 50px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #FFFFFF;
}


#email_input{
    position: absolute;
    width: 480px;
    height: 56px;
    top: 124px;
    padding: 0px 16px 0px 16px;
    gap: 8px;
    border-top: 1px solid #3D021E;
    border-left: 1px solid #3D021E;
    border-right: 1px solid #3D021E;
    border-bottom: 1px solid #CBCBCB;
    opacity: 0px;
    background-color: #3D021E;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #CBCBCB;
}


#email_submit{
    position: absolute;
    width: 104px;
    height: 48px;
    top: 132px;
    left: 496px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #3D021E;
    opacity: 40%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
}

#terms-conditions{
    position: absolute;
    width: 600px;
    height: 75px;
    top: 188px;
    gap: 0px;
    opacity: 0px;    
}

#checkbox{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;
}


#terms-text{
    position: absolute;
    top: 0px;
    width: 574px;
    height: 75px;
    left: 26px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: #FFFFFF;
}

#social_media{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1540px;
    height: 69px;
    top: 519px;
    gap: 0px;
    background: #280114;
    z-index: 2;
}

#address{
    position: absolute;
    display: flex;
    width: 238px;
    height: 45px;
    top: 12px;
    left: 108px;
    padding: 8px 16px 8px 0px;
    gap: 8px;
}

#address_icon{
    width: 24px;
    height: 24px;
    padding: 2px 5px 2px 5px;
    gap: 0px;
}


#location_icon{
    width: 14px;
    height: 20px;
    top: 2px;
    left: 5px;
    gap: 0px;
    opacity: 0px;    
}

#line2{
    position: absolute;
    width: 24px;
    height: 0px;
    /* top: 47px; */
    left: 335px;
    gap: 0px;
    border: 1px solid #FA58A6;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
}

#address_text{
    width: 190px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
    text-align: center;  
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400%;
    line-height: 28.8px;
    text-align: left;
}

#phone{
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 181px;
    height: 45px;
    top: 12px;
    left: 346px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    opacity: 0px;
}

#phone_icon{
    width: 24px;
    height: 24px;
    padding: 3px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;    
}

#phone_img{
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
    gap: 0px;
    opacity: 0px;
}

#phone_number{
    width: 117px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 400%;
    line-height: 28.8px;
    text-align: left;
    color: #FFFFFF;
}

#social_icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 40px;
    top: 15px;
    left: 1052px;
    gap: 8px;
    opacity: 0px;
}

.icon_button{
    width: 40px;
    height: 40px;
    padding: 8px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social_icon_img{
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    transition: all 0.3s ease;
}

.icon_button:hover .social_icon_img {
    filter: brightness(2.45); 
    opacity: 1; 
}


#copyright-privacy{
    position: absolute;
    width: 1540px;
    height: 56px;
    top: 588px;
    padding: 16px 108px 16px 108px;
    gap: 0px;
    opacity: 0px;
    background: #14010A;
    z-index: 2;
}

#copyright{
    position: absolute;
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 257px;
    height: 24px;
    top: 16px;
    left: 108px;
    gap: 8px;
    opacity: 0px;
}


#term-and-privacy{
    position: absolute;
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 211px;
    height: 22px;
    top: 17px;
    left: 1121.5px;
    gap: 24px;
    font-weight: 400%;
    color: #CBCBCB;
}


#copyright-logo{
    width: 24px;
    height: 24px;
    padding: 2px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;    
}

#copyright-img{
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    gap: 0px;
    opacity: 0px;
}

#copyright-text{
    width: 225px;
    height: 16px;
    gap: 0px;
    font-size: 12px;
    font-weight: 600%;
    line-height: 16.34px;
    letter-spacing: 0.800000011920929px;
    text-align: left;
    color: #CBCBCB;
    white-space: nowrap; 
    text-overflow: ellipsis;
}


#term-conditions{
    width: 111px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}

#privacy-policy{
    width: 76px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}


#BG-img{
    position: absolute; 
    width: 428px;
    height: 546.08px;
    top: 120px;
    left: 1050px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    /* transform: rotate(180deg); */
    z-index: 0;
}

.tabbar{
    position: absolute; 
    display: flex;
    width: 1224px;
    height: 40px;
    top: 301px;
    left: 108px;
    gap: 40px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-bottom: 1px solid #606060;
}

.tab{
    width: 61px;
    height: 40px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    border: 0px 0px 2px 0px;
    opacity: 0px;
    border-bottom: 2px solid #A10550;
}

.tab p{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 28px;
    font: Open Sans;
    font-weight: 700;
    size: 20px;
    line-height: 28px;
    color: #A10550;
}

.component2{
    width: 61px;
    height: 40px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
}

.component2 p{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 28px;
    font-weight: 700;
    size: 20px;
    line-height: 28px;
    color: #606060;
}

.component3{
    width: 61px;
    height: 40px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
}

.component3 p{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 28px;
    font-weight: 700;
    size: 20px;
    line-height: 28px;
    color: #606060;
}

.button{
    position: absolute;
    width: 226px;
    height: 48px;
    top: 249px;
    left: 1106px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #0C0C0C;
    z-index: 1;
}

.button a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 29px;
    font-weight: 400;
    size: 16px;
    line-height: 28.8px;
    color: #0C0C0C;
    text-decoration: none;
    z-index: 1;
}

.button a:hover{
    color: #A10550;
}

.box1{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1224px;
    height: 1425px;
    top: 341px;
    left: 108px;

}

.box2{
    width: 1224px;
    height: 475px;
    padding: 24px 16px 24px 16px;
    gap: 16px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
}

.box3{
    width: 1192px;
    height: 59px;
    gap: 8px;
}

.box4{
    position: absolute;
    width: 237px;
    height: 29px;
    gap: 4px;
}

.box4 h{
    font-family: sans-serif;
    width: 54px;
    height: 22px;
    font-weight: 700;
    size: 16px;
    line-height: 22.4px;
    color: #A10550;
}

.box4 p2{
    width: 179px;
    height: 29px;
    font-family: Open Sans;
    font-weight: 400;
    size: 16px;
    line-height: 28.8px;
    color: #A10550;
}

.box4 p{
    font-family: sans-serif;
    width: 179px;
    height: 29px;
    font-weight: 400;
    size: 16px;
    line-height: 28.8px;
}

.box3 p{    
    position: absolute;
    width: 1192px;
    height: 22px;
    font-family: sans-serif;
    font-weight: 400;
    top: 50px;
    size: 12px;
    line-height: 21.6px;
    color: #0C0C0C;
}

.box5{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 392px;
    height: 352px;
    gap: 24px;
}

.search-card1{
    width: 184px;
    height: 352px;
    padding: 0px 0px 8px 0px;
    gap: 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: #FFFFFF;
    border: 1px solid #DFDFDF;

}

.tcard1{
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 152px;
    padding: 0px 8px 0px 8px;
    gap: 4px;
    opacity: 0px;
}

.tcard1 h{
    width: 168px;
    height: 56px;
    font-family: Open Sans;
    font-weight: 400;
    size: 14px;
    bottom: 20px;
    line-height: 25.2px;
    color: #A10550;
}

.tcard1 p{
    width: 168px;
    height: 66px;
    font-family: Open Sans;
    font-weight: 400;
    size: 12px;
    line-height: 21.6px;
    color: #0C0C0C;
}

.box6{
    width: 1224px;
    height: 475px;
    padding: 24px 16px 24px 16px;
    gap: 16px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
}

.box7{
    width: 1192px;
    height: 59px;
    gap: 8px;
}

.box8{
    width: 185px;
    height: 29px;
    gap: 4px;
}

.box8 h{
    width: 54px;
    height: 22px;
    font-weight: 700;
    size: 16px;
    line-height: 22.4px;
    color: #0C0C0C;
}

.box8 p2{
    width: 127px;
    height: 29px;
    font-weight: 400;
    size: 16px;
    font-family: Open Sans;
    line-height: 28.8px;
    color: #0C0C0C;
}

.box7 p{
    width: 1192px;
    height: 22px;
    font-family: Open Sans;
    font-weight: 400;
    size: 12px;
    line-height: 21.6px;
    color: #0C0C0C;
}

.search-card2{
    width: 184px;
    height: 352px;
    padding: 0px 0px 8px 0px;
    gap: 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;

}

.box9{
    display: flex;
    width: 808px;
    height: 352px;
    gap: 24px;
}

.tcard2{
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 152px;
    padding: 0px 8px 0px 8px;
    gap: 4px;
    opacity: 0px;

}

.tcard2 h{
    width: 168px;
    height: 56px;
    font-family: Open Sans;
    font-weight: 400;
    size: 14px;
    line-height: 25.2px;
    color: #A10550;
}

.tcard2 p{
    width: 168px;
    height: 66px;
    font-family: Open Sans;
    font-weight: 400;
    size: 12px;
    line-height: 21.6px;
    color: #0C0C0C;
}

.box10{
    width: 1224px;
    height: 475px;
    padding: 24px 16px 24px 16px;
    gap: 16px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
}

.box11{
    width: 1192px;
    height: 59px;
    gap: 8px;
}

.box12{
    width: 112px;
    height: 29px;
    gap: 4px;
}

.box12 h{
    width: 54px;
    height: 22px;
    font-family: Open Sans;
    font-weight: 700;
    size: 16px;
    line-height: 22.4px;
    color: #0C0C0C;
}

.box12 p2{
    width: 54px;
    height: 22px;
    font-family: Open Sans;
    font-weight: 400;
    size: 16px;
    line-height: 28.8px;
    color: #0C0C0C;
}

.box11 p{
    width: 1192px;
    height: 22px;
    font-weight: 400;
    font-family: Open Sans;
    size: 12px;
    line-height: 21.6px;
    color: #0C0C0C;
}

.search-card3{
    width: 184px;
    height: 352px;
    padding: 0px 0px 8px 0px;
    gap: 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
}

.tcard3{
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 152px;
    padding: 0px 8px 0px 8px;
    gap: 4px;
    opacity: 0px;

}

.tcard3 h{
    width: 168px;
    height: 56px;
    font-weight: Open Sans;
    font-weight: 400;
    size: 14px;
    line-height: 25.2px;
    color: #A10550;
}

.tcard3 p{
    width: 168px;
    height: 66px;
    font-family: Open Sans;
    font-weight: 400;
    size: 12px;
    line-height: 21.6px;
    color: #0C0C0C;
}

.h-head h{
    width: 647px;
    height: 45px;
    top: 192px;
    left: 108px;
    gap: 0px;
    opacity: 0px;
    font-family: sans-serif;
    font-weight: 700;
    size: 32px;
    line-height: 44.8px;
    color: #0C0C0C;
}

.return-home {
    position: absolute;
    width: 400px;
    height: 100px;
    top: 139px;
    left: 108px;
    gap: 0px;
    opacity: 0px;
    display: flex;
}

.home {
    width: 46px;
    height: 45px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    opacity: 0px;
}

.home a {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #606060;
}

.arrow1 {
    width: 16px;
    height: 16px;
    margin: 10.5px 0px 0 3px;
    gap: 0px;
    opacity: 0px;
}

.arrow1 span {
    width: 16px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    color: #868686;
}

.text1 {
    width: 324px;
    height: 45px;
    padding: 8px 0px 8px 0px;
    gap: 8px;
    opacity: 0px;

}

.text1 p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    color: #0C0C0C;
}

.text2 {
    position: absolute;
    width: 1000px;
    height: 45px;
    top: 192px;
    left: 108px;
    gap: 8px;
    opacity: 0px;
    display: flex;
}

.recommendation {
    width: 700px;
    height: 45px;
    gap: 0px;
    opacity: 0px;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: left;
    color: #0C0C0C;
        
}

.text3{
    position: absolute;
    width: 1000px;
    height: 45px;
    top: 250px;
    left: 108px;
    gap: 8px;
    opacity: 0px;
    display: flex;
}

.according{
    width: 620px;
    height: 32px;
    top: 261px;
    left: 108px;
    gap: 0px;
    opacity: 0px;
    font-weight: 400;
    size: 18px;
    line-height: 32.4px;
    color: #0C0C0C;
}
