* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    width: 1440px;
    height: 1833px;
    background-color: #FAF9F5;
}


/*HEADER*/

.header {
    position: fixed;
    overflow: hidden;
    display: flex;
    width: 1540px;
    height: 107px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DFDFDF;
    z-index: 5;
}

.logo-img {
    position: absolute;
    width: 120px;
    height: 59px;
    top: 24px;
    left: 108px;
    gap: 0px;
    opacity: 0px;
    z-index: 1;
}

#circle-shadow {
    position: absolute;
    width: 114px;
    height: 114px;
    top: 19px;
    left: 78px;
    gap: 0px;
    background-color: #A10550; 
    border-radius: 100%;
    backdrop-filter: blur(250px);
    box-shadow: 0 0 114px 114px #A10550; 
    opacity: 0.2;
    z-index: 0;
}

.navbar {
    position: absolute;
    width: 673px;
    height: 22px;
    top: 61px;
    left: 383.5px;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar a:hover {
    color: #b4004e;
}

.actions {
    position: absolute;
    width: 144px;
    height: 48px;
    top: 44px;
    left: 1188px;
    gap: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    gap: 4px;
}


.search-img{
    width: 24px;
    height: 24px;
    gap: 0px;
}

#line1{
    width: 24px;
    height: 0px;
    gap: 0px;
    transform: rotate(90deg);
    opacity: 0px;
    border: 1px solid #868686
}

.globe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 48px;
    gap: 4px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    transition: font-weight 0.3s;
}

.globe img {
    width: 24px;
    height: 24px;
    gap: 0px;
}

.globe-text{
    display: flex;
    text-align: start;
    width: 52px;
    height: 29px;
    gap: 0px;
    opacity: 0px;    
}

.nation{
    width: 52px;
    height: 29px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: #0C0C0C
}

.language{
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.globe:hover .nation {
    font-weight: 300; 
}

.globe:hover .language {
    font-weight: 300; 
    color: #404040; 
}


.language-options {
    display: none; 
    border: 1px solid #ccc; 
    top: 100px; 
    right: 0;
    z-index: 1000;
    padding: 10px; 
}

.language-option {
    display: block;
    padding: 5px;
    cursor: pointer; 
    background-color: #461313;
}

.language-option:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}

.search-input {
    display: none;
    top: 100px;
    left: 0; /* Căn trái */
    z-index: 1000; /* Đảm bảo nó nổi bật trên các phần tử khác */
    background-color: #e34848;
}

.search-input input {
    width: 200px; /* Đặt chiều rộng cho thanh tìm kiếm */
    padding: 5px; /* Khoảng cách bên trong thanh tìm kiếm */
}

/*HEADER*/


/*BODY*/
.breadcrumb {
    position: absolute;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 103px;
    height: 45px;
    top: 139px;
    left: 108px;
    gap: 5px;
    z-index: 1;
}

.breadcrumb a {
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: black; 
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #b4004e; 
}

.breadcrumb p {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    margin: 0;
}

.arrow {
    width: auto;
    height: auto;
    font-size: 20px;
    margin: 0 0px; 
    color: #868686;
    opacity: 1;
}


#FAQs{
    position: absolute;
    width: 82px;
    height: 45px;
    top: 192px;
    left: 420px;
    font-family: sans-serif;
    color: #0C0C0C;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: left;
}


.product_information {
    position: absolute;
    width: 288px;
    height: 156px;
    top: 253px;
    left: 108px;
    gap: 0px;
    opacity: 0px;    
}

#category1{
    width: 288px;
    height: 52px;
    padding: 12px 8px 12px 8px;
    gap: 8px;
    border: 1px 0px 1px 0px;
    opacity: 0px;
    color: #A10550;
    font-weight: bold;
    background-color: #FFFFFF;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #CBCBCB;
}

#activeline{
    width: 288px;
    height: 0px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #A10550
}

#category2{
    width: 288px;
    height: 52px;
    padding: 12px 8px 12px 8px;
    gap: 8px;
    border: 1px 0px 1px 0px;
    opacity: 0px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CBCBCB;
}

#category3{
    width: 288px;
    height: 52px;
    padding: 12px 8px 12px 8px;
    gap: 8px;
    border: 1px 0px 1px 0px;
    opacity: 0px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CBCBCB;
}

.frame_faqs{
    position: absolute;
    width: 912px;
    height: 880px;
    top: 253px;
    left: 420px;
    gap: 0px;
    opacity: 0px;
    z-index: 3;
}

.question{
    font-family: sans-serif;
    width: 912px;
    height: 72px;
    padding: 22px 16px 24px 16px;
    display: grid;
    gap: 16px;
    background-color: #FFFFFF;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #CBCBCB;
    transition: height 1s ease;
}


.long-question{
    font-family: sans-serif;
    width: 912px;
    height: 100px;
    padding: 22px 16px 22px 16px;
    display: grid;
    gap: 16px;
    background-color: #FFFFFF;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #CBCBCB;
    transition: height 1s ease;
}

.frame_question button,
.long-frame_question button {
    font-size: 22px;
    width: 24px;
    width: 24px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    transition: background-color 0.2s, border 0.2s;
}

.frame_question button.active,
.long-frame_question button.active {
    background-color: #91c3f5;
    border: 2px solid #55a7ff;
}

.frame_question {
    display: flex;
    justify-content: space-between;
    width: 880px;
    height: 28px;
    gap: 8px;   
    font-size: 20px;
    font-weight: bold;
}

.long-frame_question {
    display: flex;
    justify-content: space-between;
    width: 880px;
    height: 58px;
    gap: 8px;   
    font-size: 20px;
    font-weight: bold;
}

.frame_answer {
    display: none;
    width: 880px;
    height: 112px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    font-size: 18px;
    line-height: 32.4px;
    text-align: left;
    color: #0C0C0C;
    text-transform: capitalize;
}

/*BODY*/

/*FOOTER*/

.footer{
    position: absolute;
    width: 1540px;
    height: 644px;
    top: 1189px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #3D021E;
    text-transform: capitalize;
}

#value-proposition{
    position: absolute;
    display: flex;       
    justify-content: space-between;        
    align-items: center; 
    width: 1540px;
    height: 104px;
    padding: 24px 108px 24px 108px;
    gap: 0px;
    opacity: 0px;
    background: #FBEFF2;
    color: #79043C;
    text-align: center;  
}

#VP1{
    display: flex;
    justify-content: center;
    width: 211px;
    height: 40px;
    gap: 16px;
    opacity: 0px;    
}

#VP2{
    display: flex;
    justify-content: center;
    width: 291px;
    height: 40px;
    gap: 16px;
    opacity: 0px;    
}

#VP3{
    display: flex;
    justify-content: space-between;
    width: 296px;
    height: 40px;
    gap: 16px;
    opacity: 0px;    
}


#VP4{
    display: flex;
    justify-content: space-between;
    width: 218px;
    height: 45px;
    gap: 16px;
    opacity: 0px;    
}

#VP4 img {
    width: 45px;
    height: 45px;
    gap: 0px;
    opacity: 0px; 
}

.VP img{
    width: 40px;
    height: 40px;
    gap: 0px;
}

#animals{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 155px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

#leaf2{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 235px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

#leaf{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 248px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

#bulb {
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 157px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

#social-media{
    position: absolute;
    width: 1540px;
    height: 69px;
    top: 519px;
    gap: 0px;
    opacity: 0px;
    background: #280114;
}

#copyright-privacy{
    position: absolute;
    width: 1540px;
    height: 56px;
    top: 588px;
    padding: 16px 108px 16px 108px;
    gap: 0px;
    opacity: 0px;
    background: #14010A;
}

/*FOOTER*/